body {
    margin: 0px;
}
.bluebox {
    height: 500px;
    background: aqua;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.card {
    width: 350px;
    height: 100px;
    background: white;
    border-radius: 20px;
    margin-bottom: 20px;

}
.card2 {
    width: 350px;
    height: 100px;
    background: white;
    border-radius: 20px;
}
.block1 {
    display: flex;
    flex-direction: column;
}
.block2 {
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    color: greenyellow;
    font-size: 20px;
}
.txt {
text-align: center;
}
