img {
    width: 200px;
}
h1  {
    background: yellow;
    color: black;
}
p {
    background: aliceblue;
    color: black;
}
h2  {
    background: pink;
    color: black;
}
ul  {
    background: red;
    color: aqua;

}
